<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res/co.com.une.appmovilesune"
    package="co.com.une.appmovilesune"
    android:versionCode="10"
    android:versionName="1.9.0" >

    <uses-sdk android:minSdkVersion="7" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoune"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="co.com.une.appmovilesune.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlVenta"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlVenta" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlActualizacion"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlActualizacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlResumen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlResumen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlCompetencia"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlCompetencia" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlCliente"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlCliente" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlPeticion"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlPeticion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlBlindaje"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlBlindaje" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlDetalleBlindaje"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlDetalleBlindaje" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlTarificador"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlTarificador" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.change.ControlSimulador"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.Simulador" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlPedido"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlPedido" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlValidador"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlValidador" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlPrecision"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlPrecision" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlTablet"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlTablet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlInicializacion"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlInicializacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlProspecto"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlProspecto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.complements.Autenticacion"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.Autenticacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.complements.Direcciones"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.Direcciones" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.complements.AgendaBogota"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.AgendaBogota" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.complements.Resumen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.Resumen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.complements.Listas"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.Listas" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.complements.Mensajes"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.Mensajes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.une.appmovilesune.controller.ControlUneMas"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="co.com.une.appmovilesune.ControlUneMas" />

               	<category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
       	</activity>
       	
       	<activity
           android:name="co.com.une.appmovilesune.controller.ControlBusquedaAmigoCuentas"
           android:configChanges="keyboardHidden|orientation"
           android:label="@string/app_name" >
           <intent-filter>
               <action android:name="co.com.une.appmovilesune.ControlBusquedaAmigoCuentas" />

               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
       </activity>
       <activity
         android:name="co.com.une.appmovilesune.controller.ControlAmigoCuentas"
         android:configChanges="keyboardHidden|orientation"
         android:label="@string/app_name" >
         <intent-filter>
             <action android:name="co.com.une.appmovilesune.ControlAmigoCuentas" />

             <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
       </activity>
       <activity
         android:name="co.com.une.appmovilesune.controller.ControlAmigoCuentasDigital"
         android:configChanges="keyboardHidden|orientation"
         android:label="@string/app_name" >
         <intent-filter>
             <action android:name="co.com.une.appmovilesune.ControlAmigoCuentasDigital" />
             
             <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
       </activity>
       <activity
         android:name="co.com.une.appmovilesune.controller.ControlCarrusel"
         android:configChanges="keyboardHidden|orientation"
         android:label="@string/app_name" >
         <intent-filter>
             <action android:name="co.com.une.appmovilesune.ControlCarrusel" />
             
             <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
       </activity>
       <activity
         android:name="co.com.une.appmovilesune.controller.ControlDetalleProducto"
         android:configChanges="keyboardHidden|orientation"
         android:label="@string/app_name"
         android:theme="@android:style/Theme.Dialog" >
         <intent-filter>
             <action android:name="co.com.une.appmovilesune.ControlDetalleProducto" />

             <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
       </activity>

        <service android:name="co.com.une.appmovilesune.PlayerGPS" />
    </application>

</manifest>